*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw; 
    background: linear-gradient(90deg, rgba(91, 164, 158, 1) 14%, rgba(10, 131, 120, 1) 83%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
   width: 90%;
   max-width: 450px;
}

h1{
    color: black;
    opacity: 0.75;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.display-container{
    position: relative;
    background-color: #2F4F4F;
    border-radius: 1rem;
    border-bottom: 0.35 solid violet;
    margin: 1rem 0;
    padding-top: 0.35rem;
}

.display{
    width: 100%;
    background-color: transparent;
    padding: 1.15rem 1rem;
    color: yellow;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 1px;
    padding-right: 3.25rem;
    border: none;   
}

.display::placeholder{
    position: absolute;
    top:50%;
    left:1.5rem
    font-size 1.5em;
    line-height: 30px;
    color: yellow;
    opacity: 0.65;
    text-transform: uppercase;
    transform: translateY(-50%);
}

.display-container button{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
}

.input-container{
    width: 100%;
    background-color: #2F4F4F;
    border-radius: 1rem;
    padding: 2rem;
    border-bottom:  0.35 solid violet;
}

.length-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.length-container p:nth-child(1){
    color: white;
    font-size: 1.5rem;
}

.length-container p:nth-child(2){
    color: yellow;
    font-size: 1.5rem;
}

.strength-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.75rem;
    margin-bottom: 2rem;
}

.strength-container p{
    color: white;
    font-size: 1.5rem;
}

.indicator{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.generateBtn{
    width: 100%;
    padding: 1rem 0;
    background-color: #2F4F4F;
    text-align: center;
    border-radius: 0.75rem;
    border-bottom: 0.18rem solid #F0E68C;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: yellow;
    font-weight: 600;
    font-size: 1.25rem;
}

.check{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 0 1rem;
}

.check input{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid cyan;
    cursor: pointer;
    position: relative;
    border-radius: 0.35rem;
}

.check input:checked{
    background-color: cyan;
}


.check input:checked::before{
    content: '✔';
    position: absolute;
    font-size: 1.05rem;
    font-weight: 600;
    left: 50%;
    top:-3.5px;
    transform: translateX(-50%);
}

.check label{
    color: white;
    font-size: 1.25rem;
    letter-spacing: 0.75px;
}

.data-copy{
    background-color: transparent;
    border: none;
    outline: none;
}

.tooltip{
    position: absolute;
    color: yellow;
    background-color: #2F4F4F;
    font-size: 1.25rem;
    top: -35px;
    left: -25px;
    padding: 5px 10px;
    border-radius: 1rem;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom;
    transition: all 250ms ease-in-out;
}

.tooltip.active{
    opacity: 1;
    transform: scale(1);
}

.slider{
    appearance: none;
    width: 100%;
    cursor: pointer;
    background-color:#D3D3D3;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.slider::-webkit-slider-thumb{
    appearance: none;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #FFA07A;
    cursor: pointer;
    margin-top: -3px;
    box-shadow: 0px 0px 20px 0px rgb(255, 160, 122);
    transition:all 100ms ease-in;
}

/* .slider::-webkit-slider-thumb:hover{
    outline: 1px solid #FFB6C1;
    background-color: #FFA07A;
    box-shadow: 0px 0px 25px 5px rgb(255, 160, 122);
} */
